:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
body {
  background-color: var(--Light-grayish-cyan);
}
.borderZero {
  border: 2px orange solid !important;
}
.none {
  display: none;
}
.bodyCalculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 65%;
  margin: 10rem auto;
}
.bodyCalculator .calculator {
  display: flex;
  background-color: var(--White);
  gap: 1rem;
  border-radius: 10px;
  padding: 2rem 2rem;
}
.bodyCalculator .calculator .actionTip,
.bodyCalculator .calculator .displayTip {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
.bodyCalculator .calculator .actionTip .inputForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.bodyCalculator .calculator .actionTip .inputForm input {
  text-align: right;
  border: 0;
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Grayish-cyan);
  padding: 0.5rem;
}
.bodyCalculator .calculator .actionTip .inputForm input:focus {
  outline: none;
  border: 2px solid var(--Strong-cyan);
}
.bodyCalculator .calculator .actionTip .inputForm #bill {
  background-image: url("./images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
}
.bodyCalculator .calculator .actionTip .inputForm #people {
  background-image: url("./images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
}
.bodyCalculator .calculator .actionTip .inputForm label {
  color: var(--Grayish-cyan);
}
.bodyCalculator .calculator .actionTip .inputForm input,
.btnTip .click {
  font-size: 24px;
}
.bodyCalculator .calculator .actionTip .inputForm .btnTip {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.bodyCalculator .calculator .actionTip .inputForm .btnTip .click {
  color: var(--White);
  background-color: var(--Very-dark-cyan);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.bodyCalculator .calculator .actionTip .inputForm .btnTip .click:hover {
  background-color: var(--Strong-cyan);
  color: var(--Dark-grayish-cyan);
}
.bodyCalculator .calculator .actionTip .inputForm .btnTip input,
.bodyCalculator .calculator .actionTip .inputForm .btnTip button {
  display: inline-block;
  width: 110px;
  height: 50px;
}
.bodyCalculator .calculator .actionTip .inputForm .labelPeople {
  display: flex;
  justify-content: space-between;
}
.bodyCalculator .calculator .actionTip .inputForm .labelPeople .cantZero {
  color: orange;
}
.bodyCalculator .calculator .displayTip {
  background-color: var(--Very-dark-cyan);
  padding: 2.5rem 2rem;
  border-radius: 10px;
}

.bodyCalculator .calculator .displayTip .tipAmount .tipExp,
.bodyCalculator .calculator .displayTip .total .tipExp {
  display: flex;
  justify-content: space-between;
  color: var(--White);
}
.bodyCalculator .calculator .displayTip .total {
  margin-bottom: 6.5rem;
}
.bodyCalculator .calculator .displayTip .btn {
  padding: 0.5rem;
  background-color: var(--Dark-grayish-cyan);
  color: var(--Grayish-cyan);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.bodyCalculator .calculator .displayTip .btn:hover {
  background-color: var(--Strong-cyan);
  color: var(--Dark-grayish-cyan);
}
.tipExp1 .capt {
  color: var(--Grayish-cyan);
}
.tipExp2 {
  display: flex;
  align-items: center;
}
.tipExp2 .disp,
.disp2 {
  color: var(--Strong-cyan);
}
@media (max-width: 480px) {
  .bodyCalculator {
    margin: 2rem auto;
  }
  .bodyCalculator .calculator {
    flex-direction: column;
    padding: 1rem 1rem;
  }
  .bodyCalculator .calculator .actionTip,
  .bodyCalculator .calculator .displayTip {
    width: 100% !important;
  }
  .bodyCalculator .calculator .actionTip .inputForm .btnTip input,
  .bodyCalculator .calculator .actionTip .inputForm .btnTip button {
    width: 150px;
  }
}
